{% extends "TecnocreacionesToolsBundle:Tabs:show.html.twig" %}

{% block tab_body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="me">
                <div class="contact-information">
                    //TODO Mostrar historial
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block tab_buttons %}
    
{% endblock %}